{% extends 'base.html'%}
{% block content%}
    <section class="mt-7 py-0">
<<div class="container">
          <div class="row">
            <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
              <h1 class="display-3 text-1000 fw-normal">Login</h1>
              <div class="pt-5">
                      <form class="row g-4 mt-5" action="" method="POST">
                        <div class="col-sm-6 col-md-6 col-xl-5">
                          <div class="input-group-icon">
                            {{ form.email.label }}<br>
                            {{ form.email(size=32) }}
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xl-5">
                          <div class="input-group-icon">
                            {{ form.password.label }}<br>
                            {{ form.password(size=32) }}
                          </div>
                        </div>
                        <div class="col-12 col-xl-10 col-lg-12 d-grid mt-6 btn btn-secondary">
                          {{ form.submit() }}
                        </div>
                      </form>

              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}